@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* Universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.cover {
    background-image: url(../images/City\ at\ night.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    height: 60px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    
}

a:hover{
    color: rgb(243, 2, 123);
}

a li {
    list-style-type: none;
}


#logo{

    font-size: 24px;
    font-weight: 700;
    color: white;
    padding-top: 10px;
}

#logo h2{
    text-align: center;
}

#navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar ul li{
    padding: 10px 15px;
}
    

#showcase .showcase-text{
    color: white;
    text-align: center;
    margin-top: 20vh;
}

#showcase .showcase-text h1{
    font-size: 84px;
    font-weight: 900;
    line-height: 1;
    color: white;
}

.outline{
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

#showcase .showcase-text h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
}

.btn{
    font-size: 64;
    font-weight: 700;
    border: 3px solid white;
    border-radius: 60px;
    padding: 15px 50px;
    
}

.btn:hover{
    background: white;
    color: #051120;
}

#footer{
    min-height: 200px;
    background-color: #051120;
}

#footer p{
    color:white;
    padding-top: 100px;
    text-align: center;
}


